<!DOCTYPE html>
<html ng-app="panel">
  <head>
      <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  </head>
<body style="padding: 1em">

<h1>How y'all doin?</h1>

<section ng-controller="PanelController as tab">
<ul class="nav nav-pills">
    <li><a href ng-click="tab.set(1)">Austin</a></li>
    <li><a href ng-click="tab.set(2)">Dallas</a></li>
    <li><a href ng-click="tab.set(3)">Houston</a></li>
</ul>
<div class="panel" ng-show="tab.isSelected(1)">Deep in the heart of Texas</div>
<div class="panel" ng-show="tab.isSelected(2)">On the muggy coast</div>
<div class="panel" ng-show="tab.isSelected(3)">Up North, close to the Yankees</div>
</section>

<script src="js/angular.min.js"></script>
<script src="js/panel.js"></script>
</body>
</html>