
body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}
header {
    color: dodgerblue;
    padding: 20px 0px;
}
header img {
    margin: auto 10px;
    vertical-align: middle;
}
header h1 {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    margin: auto;
    font-size: 2em;
    color: dodgerblue;
}
nav {
    background-color: aliceblue;
    color: white;
    padding: 15px;
}

footer {
    background-color: white;
    color: dodgerblue;
    padding: 25px;
    border-bottom: solid 1px dodgerblue;
}
footer h1 {
    text-align: center;
    font-size: 2em;
    color: dodgerblue;
}
#center {
    background-color: darksalmon;
    padding: 25px;
    width: 500px;
    margin: 25px auto;
}
